* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 14px;
  height: 7px;
  background-color: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb {
  background-color: #238882;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #27b9b0;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #238882, #5D9F9B);
  clip-path: polygon(0 0, 70% 0%, 55% 100%, 0% 100%);
  z-index: -1;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 80%;
  margin: auto;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border: 0;
  transition: all ease 0.2s;
}

/* Navbar */

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  z-index: 9999;
}

.navbar-brand {
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 36%;
  
}

nav ul li a {
  color: white;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.019em;
  cursor: pointer;
  transition: ease 0.2s;
}

nav ul li a:hover {
  color: #1b1b1b;
}

.btn.login {
  background-color: transparent;
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background-color: #238882;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.019em;
  text-align: center;
  width: 109px;
  height: 40px;
}

.btn.login:hover {
  background-color: transparent;
  border: 2px solid #238882;
  padding: 7px 20px;
  border-radius: 20px;
  color: #238882;
}

.btn.sign-up {
  background-color: transparent;
  border: 2px solid #238882;
  padding: 7px 20px;
  border-radius: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.019em;
  width: 156px;
  height: 40px;
}

.btn.sign-up:hover {
  background-color: #238882;
  color: white;
}

.nav-akun {
  display: none;
}

nav .menu-toggle {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
}

nav .menu-toggle input {
  width: 40px;
  height: 28px;
  position: absolute;
  top: -2.5px;
  left: -6.4px;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

nav .menu-toggle span {
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 4px;
  display: block;
  transition: all ease 0.4s;
}

nav .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

nav .menu-toggle span:last-child {
  transform-origin: 0 100%;
}

nav .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
}

nav .menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

nav .menu-toggle input:checked ~ span:last-child {
  transform: rotate(-45deg);
}

/* End Navbar */

/* Header */

.header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .content {
  order: 1;
}

.header .image {
  width: 50%;
  order: 2;
}

.header .image img {
  width: 656px;
  margin-left: 50px;
}

.header .content .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: -0.019em;
  color: white;
  margin-bottom: 20px;
}

.header .content .subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #E0E0E0;
}

/* Akhir Header */

/* Fitur */

.bg-overview {
  background-image: linear-gradient(180deg, #E4E4E4 11.98%, rgba(236, 236, 236, 0) 100%);;
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 100% 100%, 0% 100%);
}

.boost {
  background-image: url(../assets/maven-fitur.png);
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: 0 360px;
}

.overview {
  margin: 180px 0 0 0;
  padding: 100px 0;
  text-align: center;
}

.overview h1 {
  font-weight: 600;
  font-size: 2.2em;
  margin-bottom: 6px;
  color: rgb(60, 60, 75);
}

.overview h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 112%;
  display: flex;
  align-items: center;
  letter-spacing: -0.019em;
  color: #1b1b1b;
  margin-bottom: 20px;
}

.overview p {
  font-weight: 500;
  font-size: 1.1em;
  color: rgb(60, 60, 75);
}

.overview .path {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.overview .path .overview-path {
  width: 19%;
  margin-top: 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 6px #f5f6fa;
  text-align: left;
  padding: 54px 22px 54px 22px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.overview .path .overview-path.card:hover {
  background-color: #238882;
}

.overview .path .overview-path:hover h2 {
  color: white;
}

.overview .path .overview-path:hover p {
  color: white;
}

.overview .path .overview-path h1 {
  font-size: 1.6em;
}

.overview .path .overview-path p {
  font-size: 13px;
  color: rgb(140, 140, 163);
}

.overview .path .overview-path img {
  width: 38%;
  margin-bottom: 16px;
}

/* Akhir Fitur */

/* Benefit */

.benefit {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.benefit .image {
  width: 50%;
}

.benefit .image img {
  width: 450px;
}

.benefit .title {
  width: 42%;
  margin-bottom: 50px;
}

.benefit h1 {
  font-weight: 600;
  color: rgb(42, 42, 50);
  margin-bottom: 18px;
  font-family: Poppins;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: -0.019em;
}

.benefit p {
  color: rgb(80, 80, 95);
  font-size: 15px;
}

.benefit h3 {
  color: rgb(80, 92, 255);
  margin-right: 14px;
}

.benefits {
  margin: 6px 0;
  display: flex;
  align-items: center;
}


/* Akhir Benefit */

/* Footer */

.footer {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(180deg, #238882 64.58%, #3CBEB6 100%);
  clip-path: polygon(
    6% 14%,
    94% 14%,
    100% 0,
    100% 100%,
    80% 100%,
    20% 100%,
    0 100%,
    0 26%
  );
  padding: 180px 0 30px 0;
}
.footer h5{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.019em;
  color: #B3B3B3;
}

.footer .partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.footer .partners img {
  width: 15%;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 36px;
}

.footer .row .col-3 {
  width: 26%;
}

.footer .row .col-1 {
  width: 10%;
}

.footer .logo h1 {
  font-size: 40px;
  margin: 0;
}

.footer .logo .contact {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.footer .logo .contact h6 {
  font-size: 19px;
  color:#B3B3B3;
  margin-right: 12px;
}

.footer .logo .contact p {
  margin: 0;
}

.footer .logo p {
  margin: 24px 0;
}

.footer h1 {
  font-size: 23px;
  font-weight: 600;
  color: white;
  margin-bottom: 34px;
}

.footer p,
.footer p a {
  font-size: 14px;
  color:  #B3B3B3;
;
}

.footer ul li {
  margin: 18px 0;
}

.footer ul li p::after {
  content: "";
  display: block;
  border-bottom: 2px solid #B3B3B3;
  width: 0;
  transition: ease 0.2s;
}

.footer ul li p:hover::after {
  width: 100%;
}

.footer hr {
  margin-bottom: 50px;
  border: 1px solid #B3B3B3;

  border-radius: 20px;
}

.footer .copyright {
  text-align: center;
  color: #57f0e6;
}


/* Akhir Footer */



/* **  RESPONSIVE  ** */
@media screen and (max-width: 1255px) {
  .bg {
    display: none;
  }

  .bg-header {
    background-color: #238882;
  }

  .boost {
    background: none;
  }

  nav {
    width: 100%;
    position: fixed;
    background-color: #238882;
    box-shadow: 0 4px 10px #22635e;
    z-index: 9999;
  }

  nav .container {
    padding: 11px 0;
  }

  nav ul {
    width: 40%;
  }

  .header {
    justify-content: center;
  }

  .header .image img {
    width: 102%;
  }

  .btn.login,
  .btn.sign-up {
    color: white;
  }

  .btn.login:hover {
    color: rgb(214, 214, 214);
  }

  .header {
    flex-wrap: wrap;
    padding: 100px 0 70px 0;
  }

  .header .content {
    order: 2;
  }

  .header .content .title {
    font-size: 46px;
  }

  .header .content .subtitle {
    font-size: 15px;
  }

  .header .image {
    order: 1;
  }

  .bg-learn {
    clip-path: none;
  }

  .overview .path .overview-path {
    width: 25%;
  }

  .benefit {
    justify-content: center;
  }

  .benefit .title {
    width: 80%;
  }

  .benefit .image {
    width: 80%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 980px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }

  nav ul {
    background-color: #238882;
    box-shadow: 0 8px 8px #276662;
    border-top: 2px solid #1e6863;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
    transform: translateY(-100%);
    opacity: 0;
    transition: all ease 0.6s;
    z-index: 1;
  }
/*logo disini*/
  .navbar-brand,
  .menu-toggle {
    position: relative;
    z-index: 1;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateY(0);
  }

  .akun {
    display: none;
  }

  .nav-akun {
    display: block;
  }

  nav .menu-toggle {
    display: flex;
  }

  .header {
    justify-content: space-between;
  }

  .header .image img {
    width: 140%;
  }

  .bg-overview {
    clip-path: none;
  }

  .overview {
    margin: 0 0 50px 0;
  }

  .overview .path .overview-path {
    width: 38%;
  }

  .benefit .learn-more {
    padding: 14px 40px;
  }

  .showcase {
    margin: 0;
  }

  .showcase .showcase-member {
    justify-content: center;
    margin: 30px 0;
  }

  .showcase .showcase-member .card {
    width: 70%;
    margin: 20px 0;
  }

  .bg-review {
    padding: 70px 0 60px 0;
    margin: 70px 0;
    clip-path: none;
  }

  .review .title {
    width: 100%;
    margin-bottom: 70px;
  }

  .review .review-testimonial {
    width: 100%;
  }

  .review .review-testimonial .content:nth-child(1) {
    margin-right: 30px;
  }

  .started {
    margin-top: 0;
  }

  .footer {
    border-radius: 0;
    clip-path: none;
    padding: 40px 0;
    margin-top: 70px;
  }

  .footer .row {
    margin-bottom: 16px;
  }

  .footer .row .col-3 {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer .row .col-1 {
    width: 100%;
    margin: 10px 0;
  }

  .footer ul li p::after {
    display: none;
  }

  .footer h1 {
    margin-bottom: 22px;
  }

  .footer hr {
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 680px) {
  .header {
    justify-content: space-between;
  }

  .header .image img {
    width: 160%;
  }

  .overview {
    padding-top: 240px;
  }

  .overview .path {
    justify-content: center;
  }

  .overview .path .overview-path {
    width: 70%;
    text-align: center;
    padding: 54px 16px;
  }

  .overview .path .overview-path p {
    font-size: 0.9em;
  }

  .showcase .showcase-member .card {
    width: 80%;
  }

  .started {
    padding: 40px 0;
    border-radius: 16px;
  }

  .started .content {
    justify-content: center;
    text-align: center;
  }

  .started .content .title {
    width: 100%;
  }

  .started .content button {
    margin: 0;
    margin-top: 26px;
  }

  .footer .partners {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .footer .partners img {
    width: 30%;
    margin: 18px 0;
  }
}

@media screen and (max-width: 560px) {
  .header .content .title {
    font-size: 36px;
  }

  .header .content .subtitle {
    font-size: 13px;
  }

  .btn.get-started,
  .btn.learn-more {
    font-size: 14px;
    padding: 14px 32px;
  }

  .header .image img {
    width: 180%;
  }

  .benefit .title {
    width: 100%;
  }

  .benefit .image {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer .copyright {
    font-size: 13px;
  }
}

@media screen and (max-width: 440px) {
  .header .content .title {
    font-size: 32px;
  }

  .header .content .subtitle {
    font-size: 12px;
  }

  .btn.get-started,
  .btn.learn-more {
    font-size: 12px;
    padding: 12px 30px;
  }

  .header .image img {
    width: 200%;
  }

  .overview h1 {
    font-size: 2em;
  }

  .overview p {
    font-size: 0.9em;
  }

  .overview .path .overview-path {
    padding: 36px 14px;
  }

  .overview .path .overview-path p {
    font-size: 0.8em;
  }

  .overview .path .overview-path img {
    width: 50%;
  }

  .benefit .learn-more {
    font-size: 15px;
    padding: 14px 40px;
  }

  .benefit h1 {
    font-size: 30px;
  }

  .benefit h3 {
    font-size: 18=7px;
  }

  .benefit p {
    font-size: 14px;
  }

  .showcase .showcase-member .card {
    width: 100%;
    margin: 20px 0;
  }

  .showcase .title h1 {
    font-size: 34px;
  }

  .showcase .title p {
    font-size: 15px;
  }

  .showcase .see-more {
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 50px;
  }

  .footer .partners img {
    width: 40%;
    margin: 22px 0;
  }
}

@media screen and (max-width: 360px) {
  .header .content .title {
    font-size: 30px;
  }

  .btn.get-started {
    margin-right: 6px;
  }

  .btn.get-started,
  .btn.learn-more {
    font-size: 12px;
    padding: 11px 26px;
  }

  .header .image img {
    width: 200%;
  }

  .overview .path .overview-path h1 {
    font-size: 1.5em;
  }

  .overview .path .overview-path p {
    font-size: 0.7em;
  }

  .benefit h1 {
    font-size: 25px;
  }

  .benefit h3 {
    font-size: 15px;
  }

  .benefit p {
    font-size: 13px;
  }

  .benefit .learn-more {
    font-size: 15px;
    padding: 14px 40px;
  }

  img {
    width: 60%;
  }

  .footer .copyright {
    font-size: 12px;
  }
}
